body { margin: 0; background: #080808; color: white; font-family: sans-serif; display: flex; flex-direction: column; align-items: center; justify-content: center; height: 100vh; }
#app { width: 90%; max-width: 400px; text-align: center; }
.screen { display: none; background: #121212; padding: 20px; border-radius: 20px; border: 1px solid #333; }
.screen.active { display: block; }
.main-title { color: #00e676; font-size: 3rem; }
.big-input { width: 100%; padding: 15px; font-size: 1.2rem; margin-bottom: 10px; box-sizing: border-box; border-radius: 10px; border: none; }
.btn-big { background: #00e676; color: black; border: none; padding: 15px; width: 100%; font-weight: bold; font-size: 1.2rem; border-radius: 10px; cursor: pointer; }
.player-grid { display: grid; grid-template-columns: repeat(3, 1fr); gap: 5px; margin-bottom: 15px; }
.cuadrito { background: #222; padding: 5px; border-radius: 5px; font-size: 0.8rem; }
.cuadrito.activo { border: 2px solid #00e676; color: #00e676; }
.cuadrito.eliminado { opacity: 0.3; text-decoration: line-through; }
.btn-voto { background: #333; color: white; border: 1px solid #444; padding: 10px; margin: 5px; width: 100%; border-radius: 10px; }

